.fifty-fifty-cta {
  background-color: $color-primary;

  &__wrapper {
    @include maxwidth;

    &-inner {
      @include padding(rem(80) rem(20));
      display: flex;
      flex-direction: column;
      position: relative;
      row-gap: rem(60);

      @include mq($bp768) {
        @include padding(null rem(32));
      }

      @include mq($bp1024) {
        align-items: center;
        column-gap: rem(80);
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  .text-wrapper {
    @include mq($bp1024) {
      flex: 0 0 50%;
    }

    .section-title {
      @include margin(null null rem(20));
      text-align: center;

      @include mq($bp1024) {
        text-align: left;
      }

      h2 {
        @extend %font-veneer-regular;
        @include font-size(48, 50);
        color: $color-white;
        text-transform: uppercase;

        @include mq($bp768) {
          @include font-size(62, 50);
        }
      }
    }

    .description {
      text-align: center;

      @include mq($bp1024) {
        text-align: left;
      }

      p {
        @extend %font-inter-medium;
        @include font-size(16, 28);
        color: $color-white;
      }
    }

    .link {
      @include margin(rem(40) null null);
      text-align: center;

      @include mq($bp1024) {
        text-align: left;
      }

      a {
        @include button;
      }
    }
  }

  .image {
    @include mq($bp1024) {
      flex: 0 0 calc(50% - #{rem(80)});
    }
  }
}
