.info-cards {
  @include maxwidth;

  &__wrapper {
    @include padding(rem(60) rem(20));

    @include mq($bp768) {
      @include padding(rem(100) rem(32));
    }
  }

  .section-title {
    @include margin(null null rem(15));
    text-align: center;

    @include mq($bp1024) {
      @include maxwidth(rem(760));
      @include margin(null null rem(15));
    }

    h2 {
      @extend %font-veneer-regular;
      @include font-size(48, 50);
      text-transform: uppercase;

      @include mq($bp768) {
        @include font-size(62, 60);
      }

      span {
        color: $color-red;
      }
    }
  }

  .description {
    text-align: center;

    @include mq($bp1024) {
      @include maxwidth(rem(970));
    }

    &.footer-description {
      @include margin(rem(24) null null);

      @include mq($bp768) {
        @include margin(rem(60) null null);
      }
    }

    p {
      @extend %font-inter-medium;
      @include font-size(18, 28);
    }
  }

  .link {
    @include margin(rem(40) null null);
    text-align: center;

    a {
      @include button;
    }
  }

  .items {
    @include margin(rem(40) null null);
    display: flex;
    flex-direction: column;
    row-gap: rem(15);

    @include mq($bp1024) {
      align-items: center;
      column-gap: rem(40);
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: rem(32);
    }

    .item {
      @include padding(rem(30) rem(20));
      border: rem(1) solid $color-red;
      border-radius: rem(20);
      column-gap: rem(15);
      display: flex;

      @include mq($bp1024) {
        flex: 0 0 calc(33% - #{rem(40)});
      }

      &:last-child {
        @include mq($bp1024) {
          @include padding(null 0 null null);
        }
      }

      .image {
        flex: 0 0 rem(30);
      }

      .cta-title {
        h3 {
          @extend %font-oswald-semibold;
          @include font-size(20, 28);
          text-transform: uppercase;
        }
      }
    }
  }
}